#background{

     background-image: linear-gradient(to bottom,#F6BB93,#FBA490,#FB8985,#FC666F,#B83253 );

}
#content {

  margin: 0 auto;
  width: 650px;
  font-family: 'Abel';font-size: 22px;
 
}

#greeting-container {
  margin: 0px;
}

.image img{
  margin: 10px;
  max-height: 200px;
  max-width: 200px;

}
